{% trans_default_domain "security" %}

<h1>{{ 'Forced Password Reset'|trans }}</h1>
<h3>{{ 'security.password.policy_header'|trans }}</h3><p>{{ 'security.password.policy'|trans({}) }}</p>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form) }}
{{ form_end(form) }}