{% trans_default_domain 'security' %}

{% extends '@HillrangeSecurity/base.html.twig' %}

{% block title %}{{ 'Password Reset'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'Password Reset'|trans }}</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if not success %}
    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}
    <button type="button" id="generatePassword" name="generatePassword"
            class="btn btn-info">{{ 'security.password.generate.label'|trans }}</button>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
    {% else %}
        <button type="button" id="login" name="login" onclick="window.open('{{ path('login') }}','_self')"
                class="btn btn-info">{{ 'security.login.login.label'|trans }}</button>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '@HillrangeSecurity/security/newPasswordScript.html.twig' %}
{% endblock %}



