{% trans_default_domain "security" %}


<h1>{{ 'user.manage.title'|trans }}</h1>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form) }}
{{ form_end(form) }}

<a href="{{ path(app.request.get('_route'), {id: app.request.get('id')}) }}?_switch_user={{ form.username.vars.value }}">{{ 'Impersonate User'|trans }}</a>
